# **Plane Landing**

In [ ]:
num = input("Enter the altitude :")
num = int(num)

if num<=1000:
   print("Safe to land") 
elif num<=4500:
    print("Bring down to 1000")
elif num>5000:
    print("turn around")
else:
    print("Turn around")

Enter the altitude :1000
Safe to land

In [ ]:
num = input("Enter the altitude :")
num = int(num)

if num<=1000:
   print("Safe to land") 
elif num<=4500:
    print("Bring down to 1000")
elif num>5000:
    print("turn around")
else:
    print("Turn around")

Enter the altitude :4500
Bring down to 1000

In [ ]:
num = input("Enter the altitude :")
num = int(num)

if num<=1000:
   print("Safe to land") 
elif num<=4500:
    print("Bring down to 1000")
elif num>5000:
    print("turn around")
else:
    print("Turn around")

Enter the altitude :6500
turn around

**Prime Number Generation**

In [ ]:
start=2
end=200

for i in range(start,end):
  for j in range(2,i):
    if(i%j==0):
      break
  else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199